        
<div>      
Título do anúncio 
<%= @ad.title %>
</div> 

<div> 
Imagens do produto
<% @ad.images.each do |image| %>
    <%= image_tag image %>
<% end %>
</div> 

<div> 
Descrição
<%= @ad.description %>
<div> 
Preço
<%= number_to_currency @ad.price %>
<div> 


<%= link_to 'Comprar', ad_sales_path(@ad), method: :post %>

<h3>Comentários</h3>
<%= render partial: "comments/form", locals: { commentable: @ad } %>

<%= render @ad.comments.where(parent_id: nil) %>