        
<div>     
<h1><%= @ad.title %></h1>
</div> 

<div>
Vendido por:
<%= "#{@ad.company_employee.user.name} - #{@ad.company_employee.departament}"%>
</div>

<div> 
<% @ad.images.each do |image| %>
    <%= image_tag image, class:'img-show'%>
<% end %>
</div> 

<div> 
Descrição
<%= @ad.description %>
<div> 
Preço
<%= number_to_currency @ad.price %>
<div> 

<% if !(current_user.company_employee == @ad.company_employee) %>
  <%= button_to 'Comprar', ad_sales_path(@ad), method: :post, class:"btn btn-dark" %>
<%else%>
  <p>Você anunciou este produto</p>
<%end%>

<h3>Comentários</h3>
<%= render partial: "comments/form", locals: { commentable: @ad } %>

<%= render @ad.comments.where(parent_id: nil) %>