
 

<%= link_to 'Empresas',  companies_path%>

<h1 style="margin-left:30px;"> Bem vindo ao Market Place!</h1>



 <div class="row search-form">
  <%= form_with url: search_ad_path, method: :get, local:true do |form|%>
      <%= form.label :q, 'Buscar produto'%>
      <%= form.text_field :q, class:"search-input"%>
      <%= form.submit 'Buscar'%>
   <% end %> 
  </div>


  <div style="margin-left:30px;">
    Categorias:
    <%= link_to 'Todas', root_path %>
    <% @product_categories.each do |product_category| %>
      <%= link_to product_category.name, filter_ad_path(product_category_id: product_category.id)%>
    <% end %>
  </div>
     
  <% if @ads.nil?%>
    Nenhum produto encontrado
  <%else%>
  <div class="container">
    <div class="row">
      <%= render partial: "ads/ad", collection: @ads %>
    </div>
  </div>
  <%end%>




