
<h1><%= @company.name %></h1>
<dl> 
  <dt>Razão social</dt> 
  <dd><%= @company.legal_name %></dd> 

  <dt>CNPJ</dt> 
  <dd><%= @company.cnpj %></dd> 

  <dt>Endereço</dt> 
  <dd><%= @company.address %></dd> 

  <dt>Mídias sociais</dt> 
  <dd><%= @company.social_media %></dd>
  
  <dt>Domínio</dt> 
  <dd><%= @company.domain %></dd>
</dl> 