<div>      
  <h3><%= "Compra##{@sale.token} -  #{@ad.title}"%></h3>
</div> 

<div>
Vendido por: <%= "#{@ad.company_employee.user.name} - #{@ad.company_employee.departament}"%>
</div>

<div> 
<% @ad.images.each do |image| %>
    <%= image_tag image %>
<% end %>
</div> 

<div> 
Descrição
<%= @ad.description %>
</div> 

<div> 
Preço
<%= number_to_currency @ad.price %>
</div> 



<% if (@sale.status == 'in_progress' && current_user.company_employee == @ad.company_employee) %>
  <%= "#{@sale.buyer.name} gostaria de comprar o produto"%>                                                                         

  <%= form_with model:[@ad,@sale], method: :patch, local:true do |form|%>
    <%= form.label :final_price %>
    <%= form.number_field :final_price %> 
    <%= form.hidden_field :status, value:'finished' %>
    <%= form.submit "Concluir venda", class:"btn btn-success" %>
  <%end%>

  <%= form_with model:[@ad,@sale], method: :patch, local:true do |form|%>
    <%= form.hidden_field :final_price, value: "#{@sale.ad.price}" %>
    <%= form.hidden_field :status, value:'canceled' %>
    <%= form.submit "Cancelar venda", class:"btn btn-danger" %>
  <%end%>

<% end %>

 <% if @sale.status == 'finished' && current_user.company_employee == @ad.company_employee%>
   <p>Parabéns! Este produto foi vendido</p>
 <% end %>

  <% if @sale.status == 'canceled' && current_user.company_employee == @ad.company_employee%>
   <p> 'Você cancelou esta venda X_X'</p>
 <% end %>




<h4>Mensagens</h4>
  

  <% @sale.comments.each do |comment|%>
    <div>
    <%= comment.user.name%>
    <%= comment.user.company_employee.departament%>
    <p> <%= comment.body%> </p>
    </div>
  <%end%>


<%= form_with model: [@sale, Comment.new], local: true do |form| %>
    <%= form.text_area :body, placeholder: "Envie uma mensagem..." %>
    <div>
    <%= form.submit 'Enviar' %>
  </div>
<% end %>

